<!DOCTYPE html>

<style>
  input[type=text] {
    width:200px;
    border: none;
    border-bottom: 2px solid red;
  }
  button{
  
  background-color: black; /* Green */
  border: none;
  color: white;
  padding: 32px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  width:100px;
  
}
  
</style>

<form action="http://127.0.0.1:5000/apiReq" method="POST">
    City: <input type="text" name="cityName">
    
    <button type= "weather"  class = "pure-button">Submit</button>
    
  </form>


  
  